manifest {
    nextflowVersion = '>=23.10.0'
}

profiles {
    standard {
        /*
         * This container has star 2.7.10a & arcas-hla 0.6.0
         * If more deps are added, a new container can be created here: https://seqera.io/containers/
         */
        process.container = 'oras://community.wave.seqera.io/library/arcas-hla_star:0f96fe551591103e'
        singularity.enabled = true
    }

    waveDynamic {
        /* 
         * This profile dynamically fetches a container with any dependencies mentioned in conda/env.yml
         * Could be useful if many more deps are added, currently not recommended
         */  
        wave.enabled = true
        wave.strategy = 'conda'
        wave.freeze = true
        singularity.enabled = true
        singularity.ociAutoPull = true
    }

}
